'''Write a Python program to print the following string in a specific format (see the output).'''

Sample String: "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are!"

In [19]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [6]:
import sys

In [9]:
print(sys.version_info)

sys.version_info(major=3, minor=8, micro=9, releaselevel='final', serial=0)

In [1]:
import datetime
datetime.date.today()

datetime.date(2022, 11, 17)

In [2]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2022-11-17 14:09:18

In [3]:
now.strftime

Write a Python program which accepts the radius of a circle from the user and compute the area. Go to the editor
Sample Output :
r = 1.1
Area = 3.8013271108436504

In [17]:
from math import pi
def Area():
    r = float(input("enter r:"))
    return str(r) , str(pi*r**2)

In [18]:
Area()

enter r:1.1

('1.1', '3.8013271108436504')

In [13]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 1.1
The area of the circle with radius 1.1 is: 3.8013271108436504

Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [26]:
first = input("pls enter first name: ")
last = input("pls enter last name: ")
print((first[::-1] + " " + last[::-1]))

pls enter first name: at
pls enter last name: at
ta ta

 Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.Sample data : 3, 5, 7, 23
Output :
List : ['3', ' 5', ' 7', ' 23']

In [30]:
Sample = input("İnput comma seperated nunbers: ")
list = Sample.split(",")
tuple = tuple(list)
print("List :",list)
print("Tuple :",tuple)

İnput comma seperated nunbers: 3,5,7,23
List : ['3', '5', '7', '23']
Tuple : ('3', '5', '7', '23')

In [28]:
list(Sample)

[3, 5, 7, 23]

In [29]:
tuple(Sample)

(3, 5, 7, 23)

Write a Python program to accept a filename from the user and print the extension of that. Go to the editor
Sample filename : abc.java
Output : java

In [32]:
a = input("enter a file name: ")
print(a.split(".")[1])

enter a file name: abc.java
java

Write a Python program to display the first and last colors from the following list. Go to the editor
color_list = ["Red","Green","White" ,"Black"]

In [33]:
color_list = ["Red","Green","White" ,"Black"]

In [34]:
print(color_list[0],color_list[-1])

Red Black

Write a Python program to display the examination schedule. (extract the date from exam_st_date). Go to the editor
exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [35]:
 exam_st_date = (11, 12, 2014)

In [36]:
print(f" The examination will start from : {exam_st_date[0]}/ {exam_st_date[1]} / {exam_st_date[2]}")

 The examination will start from : 11/ 12 / 2014

Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. Go to the editor
Sample value of n is 5
Expected Result : 615

In [38]:
n = int(input("enter a number: "))
a = n + n*11 + n*111
print(a)

enter a number: 5
615

 Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
Sample function : abs()

Expected Result :
abs(number) -> number
Return the absolute value of the argument

In [39]:
print(abs.__doc__)

Return the absolute value of the argument.

In [40]:
print(chr.__doc__)

Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

Write a Python program to print the calendar of a given month and year.
Note : Use 'calendar' module.

In [42]:
import calendar

In [43]:
y = int(input("enter the year: "))
m = int(input("enter the month: "))
print(calendar.month(y,m))

enter the year: 2022
enter the month: 11
   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

Write a Python program to print the following 'here document'. Go to the editor
Sample string :
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [44]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)
Expected output : 9 days

In [46]:
from datetime import date

In [50]:
date1 = date(2023,9,13)
date2 = date(2022,11,17)

In [53]:
print((date1 - date2).days)

300

Write a Python program to get the volume of a sphere with radius 6

In [54]:
from math import pi

In [55]:
r = 6
print((4/3) * pi * (r**3))

904.7786842338603

Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [57]:
n = int(input("enter a num: "))
if n > 17:
    print(abs(n-17)*2)
else:
    print(n-17)

enter a num: 15
-2

 Write a Python program to test whether a number is within 100 of 1000 or 2000

In [64]:
'''def num(n):
    if n <=100:
        print("number isn't within 100 of 1000")
    elif n >=100 and n <= 1000:
        print("number is within 100 of 1000")
    elif n > 1000 and n <= 2000:
        print("number is within 1000 of 2000")
    else:    
        print("number isn't within 1000 of 2000")
        '''

'def num(n):\n    if n <=100:\n        print("number isn\'t within 100 of 1000")\n    elif n >=100 and n <= 1000:\n        print("number is within 100 of 1000")\n    elif n > 1000 and n <= 2000:\n        print("number is within 1000 of 2000")\n    else:    \n        print("number isn\'t within 1000 of 2000")\n        '

In [62]:
num(1001)

number is within 1000 of 2000

In [63]:
def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))   
print(near_thousand(2200))

True
True
False
False

Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [68]:
def summ(a,b,c):
    if a == b == c:
        return a*3
    else:
        return a+b+c

In [69]:
summ(1,2,3)
summ(1,1,1)

3

In [70]:
summ(1,2,3)

6

Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.

In [71]:
def new(str):
    if str[0:2] == "Is":
        return str
    else:
        return "Is" + str

In [72]:
new("EMP")

'IsEMP'

In [73]:
new("IsEMP")

'IsEMP'

 Write a Python program to get a string which is n (non-negative integer) copies of a given string.

In [75]:
def new(str,n):
    return str * n

In [76]:
new("at",2)

'atat'